<%= form_with(model: customer_table, class: "contents") do |form| %>
  <% if customer_table.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(customer_table.errors.count, "error") %> prohibited this customer_table from being saved:</h2>

      <ul>
        <% customer_table.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <strong><%= form.label :customer_table_number, "Customer Table Number"%></strong>
    <%= form.number_field :customer_table_number, in: 1..50, placeholder: "Table Number",
                          class: "mt-1 block px-3 py-1 bg-white border border-slate-300 rounded-md text-sm shadow-sm
                          focus:outline-none focus:border-red-100 focus:ring-1 focus:ring-sky-500"%>
  </div>

  <div class="inline">
    <%= form.submit class: "mt-2 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
