<%= form_with(model: menu_item, class: "contents") do |form| %>
  <% if menu_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

      <ul>
        <% menu_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <strong><%= form.label :menu_items, "Menu Item"%></strong>
    <%= form.text_field :menu_items, placeholder: "Enter menu item name",
                        class: "mt-2 px-3 py-4 block md:w-2/3 bg-gray-100 border border-gray-300 text-gray-700
                                rounded-lg text-md shadow-sm focus:outline-none focus:ring-2 focus:ring-sky-500
                                focus:border-sky-500 transition duration-200" %>

  </div>

  <div>
    <strong><%= form.label :menu_item_price, "Price"%></strong>
    <%= form.number_field :menu_item_price, in: 1.0..1000.0, placeholder: "Enter price",
                          class: "mt-2 block md:w-2/3 px-3 py-4 bg-gray-100 border text-gray-700 border-gray-300
                                 rounded-lg text-md shadow-sm focus:outline-none focus:ring-2 focus:ring-sky-500
                                 focus:border-sky-500 transition duration-200" %>
  </div>

  <div class="inline">
    <%= form.button class: "mt-3 rounded-lg py-3 px-5 bg-green-300 text-black inline-block font-medium cursor-pointer" %>
  </div>
<% end %>