<%= form_with(model: customer, class: "contents") do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer_name, "Customer_name: " %>
    <%= form.text_field :customer_name %>
  </div>

  <div>
    <%= form.label :customer_table_id, "Customer Table Number: " %>
    <%= form.select :customer_table_id, CustomerTable.all.collect {|table| [table.customer_table_number, table.id] },
        {prompt: "Select Table"},
                    class: "mt-1 block px-3 py-1 bg-white border border-slate-300 rounded-md text-sm shadow-sm
                          focus:outline-none focus:border-red-100 focus:ring-1 focus:ring-sky-500"%>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
