<div class="mx-auto w-full">

  <div class="mx-auto h-lvh">
    <div>
      <%= render 'layouts/navigation' %>
    </div>

    <h1 class="flex justify-center font-bold text-2xl">Customers</h1>

    <div class="mx-auto w-max">
<!--    name and date filter-->
    <div class="px-4 py-1">
      <%= form_with url: customers_path, method: :get do |form| %>
        <div class="mb-1">
          <%= form.label :name_query, "Search Customer by name: ", class: "text-sm italic font-bold px-3"%>
          <%= form.text_field :name_query, value: params[:name_query], placeholder: "Enter the name of the customer",
                              class: "mt-2 md:w-1/3 bg-gray-100 px-3 py-1 border border-gray-300 text-gray-700
                                  text-md shadow-sm rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-500
                                  focus:border-sky-500 transition duration-200"%>
        </div>

        <div class="mb-1">
          <%= form.label :date_query, "Search Customer by Date: ", class: "text-sm italic font-bold px-3"%>
          <%= form.date_field :date_query, value: params[:date_query],
                              class: "mt-2 md:w-1/3 bg-gray-100 px-3 py-1 border border-gray-300 text-gray-700
                                  text-md shadow-sm rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-500
                                  focus:border-sky-500 transition duration-200"%>
        </div>

        <div class="mb-2">
          <%= form.submit "Search", class: "w-1/6 mt-3 rounded-md py-1 px-3 bg-blue-600 text-white font-medium
                                            cursor-pointer hover:bg-blue-900"%>
        </div>
      <% end %>
    </div>

      <% if @customers.present? %>
        <table class="text-center mt-2 table-auto px-5 bg-white border border-gray-300">
          <thead class="bg-pink-500 text-white">
          <tr>
            <%= sortable_table_header "Customer Name", :customer_name , :customers_path, class: "px-3 "%>
            <th class="px-4 py-2">Customer Table Number</th>
            <th> Status</th>
            <%= sortable_table_header "Total Payment", :payment_amt, :customers_path, class: "px-5"%>
            <th class="px-5">Payment (Cash/jrn)</th>
            <th>Action</th>
          </tr>
          </thead>

          <tbody>
          <% @customers.each do |customer| %>
            <% total=customer.order_items.includes(:menu_item).sum("menu_item_price * quantity") %>
            <tr>
              <td class="border border-gray-300 px-4 py-2 "><%= customer.customer_name %></td>

              <!--Customer table-->
              <%if customer.customer_tables.any? %>
                <td class="px-4 py-2 border border-gray-300 ">
                  <%= customer.customer_tables.map(&:customer_table_number).join(',')%>
                </td>
              <% elsif customer.customer_table.present? %>
                <td class="border border-gray-300 px-4 py-2"><%= customer.customer_table.customer_table_number %></td>
              <%else %>
                <td class="border border-gray-300 px-4 py-2">No customer table</td>
              <%end %>

              <!--Payment Status-->
              <td class="border border-gray-300 px-4 py-2 <%= customer.payment_status == 'Payment Done' ? 'text-green-500' : 'text-red-500' %>">
                <%= customer.payment_status || "Payment Pending" %>
              </td>

              <td class="border border-gray-300 px-4 py-2"><strong>Nu.<%= total %></strong></td>

              <!--Payment Method-->
              <% if customer.payment_status == "Payment Done"%>
                <td class="border border-gray-300 px-4 py-2">
                  <%= customer.payment_method == "cash" ? "Cash" : customer.payment_detail.journal_number%>
                </td>
              <%else %>
                <td class="border border-gray-300 px-4 py-2"></td>
              <% end %>

              <td class="border border-gray-300 px-4 py-2"><%= link_to "Show this Customer", customer,
                                                                       class: "mt-1 ml-1 rounded-lg py-3 px-5 bg-gray-200
                                                                       hover:bg-gray-100 inline-block font-medium" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <div class="apple_pagination">
          <%= will_paginate @customers, :container => false %>
        </div>

      <% else %>
        <%if params[:name_query].present? && params[:date_query].present? %>
          <p class="flex justify-center text-red-500 font-bold">No Customer Name: <%= params[:name_query] %> found on Date: <%= params[:date_query] %></p>
        <%elsif params[:date_query] %>
          <p class="flex justify-center text-red-500 font-bold">No Customer on Date: <%= params[:date_query] %> found</p>
        <%elsif params[:name_query] %>
          <p class="flex justify-center text-red-500 font-bold">No Customer Name: <%= params[:name_query] %> found</p>
        <%else %>
          <p class="flex justify-center text-red-500 font-bold">No Customer Data found</p>
        <% end %>
      <%end %>

      <div class="flex justify-center">
        <% if params[:commit].present? %>
          <%= link_to "Back to Customers", customers_path,
                    class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-300 hover:bg-green-200 inline-block font-medium"%>
        <%end %>

        <!--PopUp for add customer tables-->
        <div data-controller="popup">
          <button data-action="click->popup#openPopup" class="mt-2 ml-2 rounded-lg py-3 px-5 bg-green-300
                                                       hover:bg-green-200 inline-block font-medium">Add customer</button>
          <%= render "shared/popup", controller_name: "popup" do%>
            <h1 class="flex justify-center font-bold ">Do you want to Join customer table ?</h1>
            <div class="flex justify-center">
              <%= link_to "Yes", new_customer_path(source: "Join_Tables"), class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-green-300 hover:bg-green-200 inline-block font-medium" %>
              <%= link_to "No", new_customer_path, class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-red-100 inline-block font-medium" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>