<% if controller_name == "customers"%>
  <div>
    <%= render 'layouts/navigation' %>
  </div>
<%end %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="flex justify-center font-bold text-2xl">Customer Details</h1>

  <div class="flex justify-center">
    <div class="mt-3 block max-w-sm p-6 bg-white border border-gray-200 rounded-lg drop-shadow-lg shadow-sm
                hover:bg-blue-300 dark:hover:bg-lime-100">
      <p class="flex justify-center">
        <strong>Customer Name: </strong>
        <%= @customer.customer_name %>
      </p>

      <% if @customer.customer_tables.any? %>
        <p class="flex justify-center">
          <strong>Customer Table Number: </strong>
          <strong><%= @customer.customer_tables.map(&:customer_table_number).join(',') %></strong>
        </p>
      <%elsif @customer.customer_table.present?%>
        <p class="flex justify-center">
          <strong>Customer Table Number: </strong>
          <%= @customer.customer_table.customer_table_number %>
        </p>
      <%else %>
        <P>No Customer table</P>
      <% end %>
    </div>
  </div>

  <h1 class="mt-3 flex justify-center font-bold text-2xl">Order Items</h1>

  <div class="mx-auto flex justify-center">
    <%= turbo_frame_tag "order_items_page" do %>
      <div class="px-5 bg-white border-gray-300 rounded-lg shadow-sm mx-auto w-full">
        <% if @order_items %>

          <!-- Table Header -->
          <div class="grid grid-cols-5 text-center px-5 text-white bg-pink-500 py-1 rounded-t-md">
            <div class="font-bold px-4 py-2">Menu Item</div>
            <div class="font-bold px-4 py-2">Quantity</div>
            <div class="font-bold px-4 py-2">Price</div>
            <div class="font-bold px-4 py-2">Total (Nu)</div>
            <% unless @customer.payment_status == "Payment Done" %>
              <div class="font-bold px-4 py-2"> Action </div>
            <%end %>
          </div>

          <!-- Table Body -->
          <% @order_items.each do |order_item| %>
            <%=turbo_frame_tag order_item do %>
              <div class="grid grid-cols-5 text-center px-5 py-1 border border-gray-300">
                <div class="px-4 py-1"><%= order_item.menu_item.menu_items if order_item.menu_item %></div>
                <div class="px-4 py-1"><%= order_item.quantity %></div>
                <div class="px-4 py-1"><%= order_item.menu_item.menu_item_price %></div>
                <div class="px-4 py-1"><%= number_with_precision(order_item.menu_item.menu_item_price * order_item.quantity, precision: 2) %></div>
                <% unless @customer.payment_status == "Payment Done" %>
                  <div class="px-4 py-1 flex justify-center items-center">
                    <%= link_to edit_customer_order_item_path(@customer.id, order_item, {source: @source}) do %>
                      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="green" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                      </svg>
                    <% end %>
                    <%#if controller_name == "customers" %>
                      <%= button_to customer_order_item_path(@customer, order_item, {source: @source}), method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                          </svg>
                     <% end %>
                    <%#end %>
                  </div>
                <% end %>
              </div>
            <%end %>
          <% end %>

          <%#= turbo_frame_tag "grand_total" do %>
            <!--Total Payment-->
            <div class="flex justify-center bg-pink-500 rounded-b-lg border border-gray-300 px-4 py-2">
              <div class="px-4 py-2"><strong>Grand Total</strong></div>
              <div class="font-bold px-4 py-2">Nu. <%=controller_name == "payment_details" ? @total_payment : @grand_total %></div>
            </div>
          <%#end %>

          <div class="mt-2 flex justify-center">
            <% unless @customer.payment_status == "Payment Done" %>
              <%= link_to "Add Order Items", new_customer_order_item_path(@customer),
                          class: "ml-2 rounded-lg py-3 px-5 bg-green-300 inline-block font-medium" %>
            <%end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-2 mb-2 flex justify-center">
    <% unless controller_name == "payment_details" %>
      <div class="flex items-center">
        <%= link_to "Back to Customers" , customers_path,
                    class: "ml-2 rounded-lg py-3 px-5 bg-gray-300 inline-block font-medium" %>
      </div>
    <%end %>

    <!--    Popup for payment method-->
    <% unless controller_name == 'payment_details' %>
      <% unless @customer.payment_status == "Payment Done"%>
        <% unless @grand_total == 0 %>
          <div data-controller="popup" class="flex justify-center inline-block ml-2">
            <button data-action="click->popup#openPopup" class="mt-2 mb-2 rounded-lg py-3 px-5 bg-red-100 font-medium">
              Checkout this customer
            </button>
            <%= render "shared/popup", controller_name: "popup" do%>
              <h1 class="flex justify-center font-bold ">What is the Customer Payment Method ?</h1>
              <div class="flex justify-center">
                <%= link_to "Online Payment", new_customer_payment_detail_path(@customer, payment: "online_payment"),
                            class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-green-300 hover:bg-green-200 inline-block font-medium" %>
                <%= link_to "Cash", new_customer_payment_detail_path(@customer),
                            class: "mt-2 ml-2 rounded-lg py-3 px-5 bg-gray-300 inline-block font-medium" %>
              </div>
            <%end %>
        <% end %>
        </div>
      <%end %>
    <% end %>
  </div>
</div>
