<nav>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Menu Items", menu_items_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ruby Restaurant
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "View Menu Items", menu_items_path %>
            <%= link_to "View Customer Tables", customer_tables_path %>
            <%= link_to "View Customers", customers_path %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
          <% end %>
          <%= link_to "View Menu Items", menu_items_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in?%>
            <%= link_to "Create new Menu Item", new_menu_item_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "View Menu Items", menu_items_path, class: "dropdown-item" %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View your profile", users_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit your profile", edit_user_registration_path(current_user), class: "dropdown-item" %>
            <%= link_to "Delete profile", users_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>